## Assignment - 1 Python

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("source.csv")

In [3]:
dfSell = df[df["transaction_type"] == "Sell"]

In [4]:
dfBuy = df[df["transaction_type"] == "Buy"]

In [5]:
dfBuy = dfBuy.loc[dfBuy["product_id"].isin(dfSell["product_id"])]

In [6]:
dfSell

    date  price  product_id  quantity transaction_type
3  Jan 5    120           1         5             Sell
4  Jan 6    125           1        10             Sell

In [7]:
dfBuy

    date  price  product_id  quantity transaction_type
0  Jan 1    100           1        10              Buy
2  Jan 3    150           1        15              Buy

In [10]:
totalProfit = 0
for i in range(len(dfSell)):
    if(i==0):
        profit = ((dfBuy.iloc[i,3] - dfSell.iloc[i,3]) * (dfSell.iloc[i,1] - dfBuy.iloc[i,1]))
        totalProfit += profit
    else:
        profit = (((dfBuy.iloc[i,3] - dfSell.iloc[i,3]) * (dfSell.iloc[i,1] - dfBuy.iloc[i,1])) + \
                 ((dfBuy.iloc[i,3] - dfSell.iloc[i,3]) * (dfSell.iloc[i,1] - dfBuy.iloc[i-1,1]))
                 )
        totalProfit += profit
print 'Total profit is = ',totalProfit

Total profit is =  100